on:
  pull_request: {}
  push:
    branches:
      - main

jobs:
  hacs-validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: hacs/action@main
        with:
          category: 'integration'
          ignore: 'brands'
      - uses: home-assistant/actions/hassfest@master
